In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [77]:
df = pd.read_csv('mil_data_cleaned.csv')
df.dtypes

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

training_group          object
country                 object
deliv_unit              object
recip_unit              object
start_date              object
end_date                object
cost                   float64
start_year             float64
start_month            float64
quant_one                int64
log_training_length    float64
has_deliv                int64
DOS                      int64
DOD                      int64
IMET                     int64
FMF                      int64
CTFP                     int64
Regional_Center          int64
language_course          int64
MET                      int64
MTT                      int64
seminar                  int64
terrorism                int64
human_rights             int64
conference               int64
relations                int64
policy                   int64
in_US                    int64
dtype: object

In [78]:
#get dummies for training_group
dummies = pd.get_dummies(df['training_group'])

df = df.drop('training_group',axis = 1)
# Join the encoded df
df = df.join(dummies)
df.head()

,country,deliv_unit,recip_unit,start_date,end_date,cost,start_year,start_month,quant_one,log_training_length,...,Africa,All_Regions,East_Asia_And_Pacific,East_Asia_and_Pacific,Europe,Near_East,Newly_Independent_States,South_Asia,South_Central_Asia,Western_Hemisphere
0,Angola,NaN,MINISTRY OF FOREIGN AFFAIRS MOD,2001-01-29,2001-02-09,9667.0,2001.0,1.0,0,2.484907,...,1,0,0,0,0,0,0,0,0,0
1,Benin,NaN,"ARMY, GROUND FORCES, 1ST BATALLION, COMBINED-ARMS",2001-05-07,2001-05-12,1296.0,2001.0,5.0,1,1.791759,...,1,0,0,0,0,0,0,0,0,0
2,Benin,NaN,"AIR FORCE, ON TRAINING IN THE US",2001-01-22,2001-06-08,18241.0,2001.0,1.0,1,4.927254,...,1,0,0,0,0,0,0,0,0,0
3,Benin,NaN,ON TRAINING IN THE US,2001-04-09,2001-08-24,13944.0,2001.0,4.0,1,4.927254,...,1,0,0,0,0,0,0,0,0,0
4,Benin,NaN,"NAVY, POSTED AT GENERAL CHIEF OF STAFF HEADQUA...",2001-05-07,2001-09-21,14044.0,2001.0,5.0,1,4.927254,...,1,0,0,0,0,0,0,0,0,0

In [79]:
#get dummies for country
dummies = pd.get_dummies(df['country'])

df = df.drop('country',axis = 1)
# Join the encoded df
df = df.join(dummies)

In [80]:
df.columns

Index(['deliv_unit', 'recip_unit', 'start_date', 'end_date', 'cost',
       'start_year', 'start_month', 'quant_one', 'log_training_length',
       'has_deliv',
       ...
       'United Arab Emirates', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Yugoslavia', 'Zambia', 'Zimbabwe'],
      dtype='object', length=267)

In [81]:
df = df.drop(labels=['deliv_unit','recip_unit','start_date','end_date'],axis=1)

In [82]:
#Split the data  
X_train, X_test, y_train, y_test = train_test_split(df.drop(labels='cost',axis=1),df['cost'],test_size = 0.3)

In [83]:
#Scale our data
scaler = StandardScaler()
scaler.fit(X_train.values)
X_train_scaled = scaler.transform(X_train.values)
X_test_scaled = scaler.transform(X_test.values)
names = X_train.columns
X_train_scaled = pd.DataFrame(X_train_scaled,columns=names)
X_train_scaled.head()

,start_year,start_month,quant_one,log_training_length,has_deliv,DOS,DOD,IMET,FMF,CTFP,...,United Arab Emirates,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Yugoslavia,Zambia,Zimbabwe
0,1.512882,1.970947,0.363930,-1.228735,1.172072,0.962152,-0.712508,-0.820795,2.359390,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
1,0.733444,0.644368,0.363930,0.823284,1.172072,0.962152,-0.712508,-0.820795,2.359390,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
2,1.512882,1.307658,-2.747779,-1.458887,1.172072,0.962152,-0.712508,-0.820795,2.359390,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
3,0.343726,0.312724,0.363930,0.950991,1.172072,0.962152,-0.712508,1.218331,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,42.529247,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
4,1.123163,-0.682211,-2.747779,-0.349820,1.172072,0.962152,-0.712508,-0.820795,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393

In [84]:
X_test_scaled = pd.DataFrame(X_test_scaled,columns=names)
X_test_scaled.head()

,start_year,start_month,quant_one,log_training_length,has_deliv,DOS,DOD,IMET,FMF,CTFP,...,United Arab Emirates,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Yemen,Yugoslavia,Zambia,Zimbabwe
0,-1.410009,0.976013,0.363930,1.177858,1.172072,-1.039336,1.403493,-0.820795,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
1,1.123163,1.307658,-2.747779,0.775744,1.172072,0.962152,-0.712508,1.218331,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
2,0.733444,-1.013855,0.363930,-1.050215,1.172072,-1.039336,1.403493,-0.820795,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
3,-1.604869,-0.682211,0.363930,-2.337802,-0.853190,-1.039336,-0.712508,1.218331,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393
4,-0.045993,1.639303,0.363930,0.409467,1.172072,0.962152,-0.712508,-0.820795,-0.423838,-0.322069,...,-0.029053,-0.095226,-0.056586,-0.023513,-0.041105,-0.072289,-0.084931,-0.002696,-0.053803,-0.005393

In [85]:
X_train_scaled.to_csv('preprocessed_data/X_train.csv',index=False)
X_test_scaled.to_csv('preprocessed_data/X_test.csv',index=False)
y_train.to_csv('preprocessed_data/y_train.csv',index=False)
y_test.to_csv('preprocessed_data/y_test.csv',index=False)

Save our data to our preprocessed data folder.